@use "styles/colorSchemes";

.root {
  align-items: center;
  color: black;
  display: flex;
  padding: 20px var(--body-padding);
  justify-content: center;

  @include colorSchemes.dark {
    color: white;
  }
}

.copy {
  margin: 0;
}
