@use "styles/breakpoints";

.container {
  --gap: 10px;

  display: grid;
  gap: var(--gap);
  grid-template-areas:
    "header"
    "main"
    "footer";

  /* mobile viewport bug fix */
  min-height: stretch;

  @include breakpoints.sm-up {
    height: 100vh;
  }
}

.header {
  grid-area: header;
}

.navbar {
  padding: var(--gap);
}

.main {
  grid-area: main;
}

.footer {
  align-items: flex-end;
  display: flex;
  grid-area: footer;
  padding: var(--gap);
}
